html, body {
    height:100%;
  }

body{
    background-color: #191919;
    padding: 5%;
    display:flex;
    align-items:center;
    color: azure;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    /* filter: blur(5px); */
}

.progress{
    margin: 3%
}

#timer{
    float: left;
}
#duration{
    float: right;
}
.outerCtrl{
    padding-top: 3%;
}
#playlist {
    width: 80%;
    height: 50%;
    position: absolute;
    top: 50px;
    left: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
  }
  #list {
    width: 100%;
    height: 100%
  }
  .list-song {
    width: 100%;
    /* height: 20%; */
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  }
  .list-song:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }

  .text-center{
      margin-bottom: 5%
  }
  .slidecontainer {
      /* display: inline-block; */
      float: right;
      width: 30%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    /* opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s; */
}

/* .slider:hover {
    opacity: 0.8;
} */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* appearance: none; */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FF3333;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.btn-primary-outline {
  background-color: transparent;
}
#picture{
    /* z-index: -1; */
    width: 40vw;
    
}
